* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #007765;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.container {
  max-width: 1219px;
  margin: 0 auto;
	padding: 0 55px;
}

.header__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 84px;
}

.header__list{
	display: flex;
}

.header__item{
	list-style: none;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 28px;
}

.header__item + .header__item{
	margin-left: 8px;
}

.header__link{
	text-decoration: none;
	list-style: none;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 28px;
}

.jumbotron {
	background: url('../img/jumbotron-bg.png') center no-repeat ;
	background-size: cover;
	margin-top: 84px;
}

.jumbotron__title{
	padding: 160px;
	font-weight: 500;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: #FFFFFF;
}

#anchor1{
	border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.problem{
	background-color: #EEEEEE;
	padding-top: 48px;
	padding-bottom: 60px;
}



.problem__title{
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}

.problem__content{
	font-size: 32px;
line-height: 37px;
color: #000000;
}

.problem__style{
	font-weight: bold;
}



.hero{
	background: url(../img/hero-bg.png) center no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 127px;
}

.hero__text{
	font-style: italic;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
}

#anchor2{
	border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.ppc{
	background-color: #FFFFFF;
	padding-top: 48px;
	padding-bottom: 52px;
}

.ppc__title{
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	margin-bottom: 16px;
}

.ppc__logo{
	float: left;
	padding-right: 48px;
}

.ppc__text{
	margin: 0 0 40px 0;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
}

.ppc__style{
	font-style: italic;
}

#anchor3{
	border-top: 55px solid transparent;
	margin-top: -55px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.team{
	padding-top: 48px;
	background-color: #EEEEEE;
	padding-bottom: 122px;
}

.team__title{
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	margin-bottom: 56px;
}

.team__flex{
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
	grid-row-gap: 82px;
	padding: 0;
}

.team__item{
	text-align: center;
	list-style: none;
}

.team__photo{
	margin-bottom: 12px;
}

.team__subtitle{
	font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #007765;
}

.team__profession{
	font-style: italic;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin: 0;
}

.footer{
	background-color:#333333;
	padding-top: 48px;
}

.footer__text{
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding: 0 285px 64px;
}
